@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #007BFF;
  --secondary: hsla(211, 100%, 50%, 0.15);
  --secondaryDark: hsla(211, 100%, 50%, 0.5);
  --background: #fafafa;
  --backgroundLite: rgba(250, 250, 250, 0.2);
  --text: #050505;
  --textLite: rgb(55, 65, 81);
  --pink: #ff007f;
  --gold: #fdd017;
  --toastify-color-light: #fafafa;
  --toastify-text-color-light: #050505;
  --toastify-toast-min-height: 54px;
}

[data-theme="dark"] {
  --primary: #007BFF;
  --secondary: hsla(211, 100%, 50%, 0.15);
  --secondaryDark: hsla(211, 100%, 50%, 0.5);
  /* --secondary: #011932; */
  --background: #050505;
  --backgroundLite: rgba(5, 5, 5, 0.2);
  --text: #fafafa;
  --textLite: rgb(121, 141, 175);
  --toastify-color-light: #050505;
  --toastify-text-color-light: #fafafa;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex_center {
  @apply flex justify-center items-center
}

.smooth_transition {
  @apply transition ease-in-out duration-300
}

.header_btn {
  @apply flex_center hover:bg-secondaryClr smooth_transition p-2 rounded-full
}

@layer utilities {

  /* Hide white backgound color on form autofills */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    background-color: var(--background) !important;
    color: var(--text) !important;
    transition: background-color 999999s ease-in-out 0s;
  }
}

/* SVG Loader Animation */
.MartAnimation {
  animation: SvgMartAnim 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s forwards infinite;
  -webkit-animation: SvgMartAnim 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s forwards infinite;
  transform-origin: center
}

.NextAnimation {
  -webkit-animation: SvgNextAnim 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s forwards infinite;
  animation: SvgNextAnim 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s forwards infinite;
  transform-origin: center
}

@-webkit-keyframes SvgMartAnim {
  0% {
    fill: transparent;
    scale: 0.8;
  }

  75% {
    fill: rgb(0, 123, 255);
    scale: 1;
  }

  100% {
    fill: transparent;
    scale: 0.8;
  }
}

@keyframes SvgMartAnim {
  0% {
    fill: transparent;
    scale: 0.8;
  }

  75% {
    fill: rgb(0, 123, 255);
    scale: 1;
  }

  100% {
    fill: transparent;
    scale: 0.8;
  }
}



@-webkit-keyframes SvgNextAnim {
  0% {
    fill: transparent;
    scale: 0.8;
  }

  75% {
    fill: rgb(5, 5, 5);
    scale: 1;
  }

  100% {
    fill: transparent;
    scale: 0.8;
  }
}

@keyframes SvgNextAnim {
  0% {
    fill: transparent;
    scale: 0.8;
  }

  75% {
    fill: rgb(5, 5, 5);
    scale: 1;
  }

  100% {
    fill: transparent;
    scale: 0.8;
  }
}
/* SVG Loader Animation */

.Toastify__close-button--light{
  color: var(--text)
}
.Toastify__toast {
  border: 1px solid var(--secondaryDark)
}

@media (max-width: 480px){
  .Toastify__toast-container {
    margin-bottom: 4em;
  }

  .Toastify__toast {
    scale: 0.85;
    border-radius: 5px; 
  }
}